/* basic css stuff */
.entry-content ul.ehsaa-list-airier { // used for scholar list on homepage.
	li {
		padding-bottom: 8px;
		line-height: 1.2em;
	}
}


.ehs-center-widget {
	text-align: center;
	float: none;
}
